body {
    font-family: Roboto;
    background: -webkit-linear-gradient(to left, #07627e, #1a7591);
    background: linear-gradient(to left, #116288, #0d6892);
    }

      #container {
        height: auto;
        width: 350px;
        margin: 3% auto;
        padding: 0 0 2% 0;
        background: #f7f7f7;
        box-shadow: 0 0 3px rgba(27, 26, 21, 0.1);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
      }


      #topo{
          background: #1b251e;
          margin: 0;
          padding:0px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
      }

          h1 {
          color: white;
          text-transform: uppercase;
          padding: 10px 25px 0;
          font-size: 21px;
          font-weight: normal;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          }

          img{
              height: 20%;
              display: block;
              margin: 0 auto;
          }


      p {
        padding-left: 20px;
      }

      form input[type="text"] {
        width:90px;
      }

      input {
        padding-left: 20px;
      }

      #total-conta {
        font-size: 14px;
        color: rgb(20, 117, 57);
        background-color: #f7f7f7;
        width: 60%;
        padding: 5px 5px 8px 8px;
      }

      #total-conta:focus {
        background: #fff;
        border: 3px solid #29b959;
        outline: none;
      }

      #taxa-servico {
        padding: 8px 8px 10px 15px;
        margin-left: 20px;
        font-size: 15px;
      }

      #numero-pessoas {
        width: 60%;
        padding: 5px 5px 8px 8px;
        margin-left: 20px;
        color: rgb(17, 122, 58);
        background-color: #f7f7f7;
        font-size: 14px;
      }


      button {
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        margin: 30px auto;
        background: #0ae25d;
        border-radius: 5px;
        width: 200px;
        height: 50px;
        font-size: 17px;
        color: white;
        cursor: pointer;
      }

      button:hover {
        background: #04a045;
        border-bottom-color: #111;
      }

      button:active {
        position: relative;
        top: 1px;
      }

      #valor-calculado {
        font-size: 30px;
        margin-top: 5px;
        text-align: center;
      }

      #valor-calculado:before {
        content: "Valor por pessoa:";
        font-size: 20px;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
      }

      #valor-calculado sup {
        font-size: 20px;
        top: -18px;
      }

      #valor-calculado small {
        font-size: 20px;
        font-weight: bold;
        display: block;
      }